
.geosuggest {
    color: black;
    padding: 0;
    &__input-wrapper {
        input {
            width: $containerWidth - $geosuggest_border_size*2 - $geosuggest_padding*2;
            font-family: Roboto-Light;
            padding: $geosuggest_padding;
            min-height: round( $item_min_height - 1);
            border: none;
            &:focus {
                outline: none;
            }
        }
    }
    &__suggests-wrapper {
        position: absolute;
        width: $containerWidth - $item_border_width*2;
        list-style: none;
        border-radius: 0 0 3px 3px;
        .geosuggest-item {
            list-style: none;
            background-color: white;
            padding: 4px;
            cursor: pointer;
            &:last-child {
                border-radius: 0 0 3px 3px;
            }
            &:hover {
                background-color: #808080;
                color: white;
            }
        }
    }
    &__suggests--hidden {
        display: none;
    }
}
